.logoSearch {
  display: flex;
  width: 100%;
}
.search {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  width: 100%;
  padding: 5px 5px 5px 12px;
  > input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(106.23deg, #f99827 0%, #f95f35 100%);
    border-radius: 5px;
    padding: 4px;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}
